{% extends 'base.html.twig' %}

{% block title %}EditPassword{% endblock %}

{% block body %}
    <h1>Смена пароля</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.plainPassword.first, {
            'class': 'form-control'
        }) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit" class="btn">Сменить пароль</button>
    {{ form_end(form) }}
{% endblock %}