{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.login) }}
      {#}  {{ form_row(form.password) }}
        {{ form_row(form.plainPassword) }}#}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}