{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <table border=1>
        <tr style="font-weight: 600">
            <td>Логин</td>
            <td>E-mail</td>
            <td>Имя</td>
            <td>Фамилия</td>
        </tr>
        <tr>
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
        </tr>
    </table>
    <a href="{{ path('user_update', {'id': user.id}) }}">Изменить</a>  
    <a href="{{ path('user_updatePass', {'id': user.id}) }}">Изменить пароль</a>  
    <a href="{{ path('user_delete', {'id': user.id}) }}">Удалить</a>
{% endblock %}